{% load static %}
<html>
    <head>
        <title>Delight Flower Farm Analytics</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <style>
            .navbar-custom {
                background-color: rgb(116,0,55);
            }
            .btn-outline-light {
                color: rgb(233,140,117);
                background-color: rgb(116,0,55);
                border: rgb(233,140,117);
              }
        </style>
    </head>
    
    <body>
        <div class="my-5 text-center container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>